@font-face {
  font-family: 'Smoothie shoppe';
  src: url("/font/Smoothie Shoppe.ttf");
}
@font-face {
  font-family: 'Didot';
  src: url("/font/Didot.ttf");
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
.contact {
  display: block;
  position: fixed;
  top:10px;
  right: 10px;
  z-index: 99;
}
.contact a {
  text-decoration: none;
  color: white;
}
.fullscreenbackground-me{
  background-image: url("/images/about_me_bg_for_web.jpg");
}
.fullscreenbackground-web{
  background-image: url("/images/web_bg_for_web.jpg");
}
.fullscreenbackground-cake{
  background-image: url("/images/cake_bg_for_web.jpg") ;
}
.fullscreenbackground-illustration{
  background-image: url("/images/illustration_bg_for_web.jpg") ;
}
.fullscreenbackground-type{
  background-image: url("/images/type_bg_for_web.jpg") ;
}
.fullscreenbackground-stationary{
  background-image: url("/images/stationary_bg_for_web.jpg") ;
}
.fullscreenbackground-handlettering{
  background-image: url("/images/hand_bg_for_web.jpg");
}
.fullscreenbackground {
  min-height: 100%;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size:cover;
  position: relative;
}

.header{
  width: 100%;
  bottom: 20%;
  /*background-image: inherit;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size:cover;
  overflow: hidden;
  z-index: 99;
  font-family: smoothie shoppe;
  letter-spacing: -3px;
  font-size: 4.5em;
  color: white;
}
.subtitle {
  font-family: didot;
  line-height: .25;
  font-size: 2.7em;
  color: white;
}
.header-me {

  text-align: center;
  padding-top: 340px;
  font-size: 5.2em;
}
.subtitle-me{
  text-align: center;

}
.header-illustration {
  text-align: center;
  padding-top: 300px;

}
.subtitle-illustration{

  text-align: center;

}
.header-cake {

  text-align: center;
  padding-top: 200px;

}
.subtitle-cake{

  text-align: center;

}
.header-web {

  text-align: center;
  padding-top: 170px;

}
.subtitle-web{

  text-align: center;

}
.header-hand {

  text-align: center;
  padding-top: 250px;

}
.subtitle-hand{

  text-align: center;

}
.header-type {

  text-align: center;
  padding-top: 410px;

}
.subtitle-type{

  text-align: center;

}
.header-station{

  text-align: center;
  padding-top: 430px;

}
.subtitle-station{

  text-align: center;

}
.thumbnails img {
	height: 50px;
	margin: 0;
}

.thumbnails img:hover {
	cursor:pointer;
}
.thumbnails alt{
  font-family: Didot;
  color: grey;
  font-size: 1em,
}
.gallery{


  border-radius: 5px;
  margin: auto;

}
.preview img {
	/*border: 4px solid #404040;*/
  border-radius: 5px;
	padding: 1px;
  height:480px;
  overflow: auto;
  max-width: 90%;
}
.preview{
  overflow: hidden;
}
#caption{
  font-family: didot, sans-serif;
  font-size: 1em;
  color: #404040;
  text-align: center;
  z-index: 5;
}
.lightbox_title{
  text-align: center;
  font-family: smoothie shoppe;
  font-size: 2em;
  letter-spacing: -2px;
  color: pink;
}
.box{
  position: absolute;
  margin-top: 5%;
  margin-left: 15%;
  width:70%;
  height:600px;
  background: hsla(69, 0%, 100%, 1);
  padding:10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow:0px, 0px, 5px, #444444;
  -webkit-box-shadow:0px, 0px, 5px, #444444;
  box-shadow:0px, 0px, 5px, #444444;
  display:none;
  z-index: 99;
}
.backdrop{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  min-height:100%;
  background: hsla(000, 0%, 80%, .5);
  display:none;
  z-index: 90;

}
.center {
  text-align: center;
  height: 100%;
}

.close{
  float:right;
  margin-right:6px;
  cursor:pointer;
}
a{
  text-decoration: none;
}
